{% extends "main/_base.html" %}
{% block body%}
    {% if no_auth_message %}
        <div class="container white flow-text z-depth-5 align-center" style="margin-top:1rem; margin-bottom: 1rem; padding: 1rem">
            You must login to access content outside of the home page.
        </div>
    {% endif %}
    <style>
    card:hover{
       box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.2);
    }
    </style>
    <div class="container white" style="padding: 1.5rem; margin-top: 1rem; margin-bottom: 1rem;box-shadow: 5px 10px lightpink;">
        <p class="flow-text" style="width: 95%; margin: auto">Want to be an instructor? Sign up below</p>
        <input type="text" placeholder="Preferred name" style="display: block; width: 95%; margin: auto">
        <input type="email" placeholder="Email" style="display: block; width: 95%; margin: auto">
        <textarea class="materialize-textarea" placeholder="Please tell us why you would make a good instructor" style="display:block; width: 95%; margin: 1.5rem auto 1.5rem auto"></textarea>
        <button style="margin-left:2.5%;background-color: #3498db;" class="btn">submit</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card white" >
                    <div class="card-content">
                        <span class="card-title"><b>About</b></span>
                        <p>CodeFlower is a website that can help anyone learn the fundamental
                            basics of computer programming. Whether you are hoping to pick up programming as a hobby,
                            interested in obtaining a Computer Science degree, or looking for a new hobby, CodeFlower will help you
                            explore the wonderful world of programming!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                 <div class="card white" >
                    <div class="card-content">
                        <span class="card-title"><b>How it works</b></span>
                        <p> CodeFlower offers programming topics selected to give you a basic idea of how computer
                            programming works. Once you select a topic you are interested in, you may work through lessons
                            and test your code in the browser so you can implement what you have learned. Once you
                            are done with a lesson, you will have the option to take a quiz to solidify your understanding and move to the
                            next lesson/topic.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}